<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <!-- 快捷鍵 -->
      <div class="container d-flex justify-content-between">
        <!-- 類別 / 方式篩選  -->
        <div class="dropdown col d-grid gap-2" style="max-width:fit-content;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            支出類別/方式
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {{#each categories}}
            <li><a class="dropdown-item" href="/categories/{{this._id}}">{{this.categoryName}}</a></li>
            {{/each}}
            <li><a class="dropdown-item" href="/methods/cash">現金支付</a></li>
            <li><a class="dropdown-item" href="/methods/card">信用卡支付</a></li>
            <li><a class="dropdown-item" href="/methods/mobile">行動支付</a></li>
          </ul>
        </div>
        <!-- 新增類別 -->
        <div class="d-flex justify-content-center align-items-center">
          <a href="/categories/new" class="btn btn-dark">新增類別</a>
        </div>
      </div>
      
      <!--顯示花費金額-->
      <div class="total-expenses d-flex justify-content-center align-items-center mt-3">
        <h3 class="text-center mx-3 ">累計花費:</h3>
        <h1 style="font-weight: bolder;color: #F2668B">{{totalAmount}}</h1>
      </div>
      
      {{#each records}}
      <!-- 支出清單 -->
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row justify-content-between">
            <!-- 支出類別、名稱和日期 -->
            <div class="col-auto mr-auto d-flex justify-content-center align-items-center">
              <i class="{{this.categoryIcon}} fa-2xl mx-3"></i>
              <div class="wrap d-flex flex-column mt-2">
                <h4 class="mb-0" style="display: inline; vertical-align: middle;">{{this.name}}</h4>
                <span class="mt-0">{{this.date}}</p>
              </div>
              <mark class="mx-4" style="font-size: 18px;">{{this.method}}</mark>
            </div>
            
           
            <div class="col-auto d-flex align-items-center"> 
              <!-- 支出金額 -->
              <div class="amount mx-5">
                <h3>{{this.amount}}</h3>
              </div>
              <!-- 編輯和刪除按鈕 -->
              <a class="btn btn-success mx-2" href="/records/{{this._id}}/edit">Edit</a>
              <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
          </div>
        </li>
      </ul>
      {{/each}}
      
      <!-- 新增按鈕 -->
      <div class="d-flex justify-content-center align-items-center mt-4">
        <a href="/records/new" class="btn btn-outline-info btn-lg">新增支出</a>
      </div>

    </div>
  </div>
</div>